.main{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.placeholder{
    width: 450px;
    height: 200px;
    background-color:rgba(0, 102, 204, .5);
  
    border-radius: 20px;
  
    display:flex;
    justify-content:center;
    align-items:center;
  
    font-size: 25px;
    font-weight: bold;
  }