.form{
    flex:0 1 500px;
    min-height: 450px;
    border-radius:10%;

    display: flex;
    flex-direction: column;
    /* background: -webkit-linear-gradient(top,#7579ff,#b224ef); */
    background:#0066cc;
    padding: 30px 20px 40px 20px;
}
.title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    color:#fff;
    font-weight: bold;
}