.menu{
  background:#0066cc;
  height: 100%;
  
  flex:0 0 30%;

  border-radius:50px;

  display: flex;
  flex-direction: column;
  padding: 50px;
}
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  color:#fff;
}
.topbar span{
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
}
.topbar span > i{
  margin-right: 10px;
}
.topbar a > i{
  font-weight: bold;
  font-size: 25px;
  color:#fff;

  text-decoration: none;
  transition: color .3s linear;
}
.topbar a > i:hover{
  color:rgba(0,0,0,.7);
}
.navbar{
  margin-top: 50px;
  flex:2;
}