.auth{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(189,238,250);
    background: linear-gradient(90deg, rgba(189,238,250,1) 7%, rgba(206,238,240,1) 27%, rgba(104,222,233,1) 56%);
}