.chatlist{
  flex:2 2 200px;
  list-style-type: none;
  padding: 0 10px 0 10px;
  margin: 30px 0 0 0;
  overflow-y: scroll;
  width: 100%;
}
.chatlist::-webkit-scrollbar {
  width: 5px;
}
.chatlist::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.chatlist::-webkit-scrollbar-thumb {
  background-color: #0066cc;
}