.dialog{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.messagebox{
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.client{
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  
  text-align: center;
}
.list{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  flex:2 0.5 150px;

  margin-top: 20px;
  overflow-y: auto;
  padding-right: 10px;
}
.list::-webkit-scrollbar {
  width: 5px;
}
.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.list::-webkit-scrollbar-thumb {
  background-color: #0066cc;
}
.form{
  margin-top: 10px;
  width: 100%;
  flex:0.5;
}
.input{
  display: flex;
}
.input button{
  margin-left: 5px;
}
.dropdown{
  margin-top: 10px;
}
.error{
  color:red;
}