.activemessages{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.search{
  width: 100%;
}
.search label{
  color:#000;
}
.messagebox{
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link{

}