.new{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.messagebox{
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
