.item{
  max-width: 500px;
  border:1px solid #000;
  border-radius: 20px;
  padding: 20px;

  box-shadow: 3px 3px 10px #000;
  background-color:#CACBFD;
  color:#292CA3;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.time{
  color:rgba(0,0,0,.7);
  margin-top: 7px;

  font-style: italic;
}
.client{
  align-self: flex-end;
  background-color:#B8F2B6;
  color: #A3527E;
}