.main{
  flex:2;

  display: flex;
  flex-direction: column;
}

.topbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 15px 0;
}
.topbar button{
  margin-right: 50px;
}
.operator{
  margin-right: 50px;
  font-weight: bold;
  font-size: 24px;
}
.queue{
  margin-right: auto;
  margin-left: 50px;
  font-size: 24px;
  font-weight: bold;
}