.title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.label{
    display: flex;
    flex-direction: column;
    flex:1;
    color:#fff;
}
.input{
    min-height: 45px;
    padding: 10px 15px;
    font-size: 14px;

    border-radius: 10px;
    outline: none;
    border:none;
}