.menuitem{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
  border:1px solid #fff;

  color:#fff;
  text-decoration: none;
  border-radius:10px;

  font-size: 25px;
  transition: all .3s linear;
}
.menuitem:hover{
  background-color: #fff;
  color:#000;
}
.menuitem:not(:last-child){
  margin-bottom: 20px;
}
.menuitem i{
  margin-right: 10px;
}
.active{
  background-color: #fff;
  color:#000;
}