.wrapper:not(:last-child){
  margin-right: 10px;
  align-items: center;
}
.message{
  display: flex;
  max-height: 200px;
  justify-content: space-between;
}
.message:not(:last-child){
  margin-bottom: 20px;
}
.avatar{
  flex:0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image{
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100px;
  height: 100px;

  font-size: 40px;

}
.image img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.text{
  flex:2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding:0 10px;
}
.navigation{
  flex:0.5;

  display: flex;
  flex-direction: column;
}
.link, .savebutton{
  flex:0.5;
  display:flex;
  justify-content:center;
  align-items:center;

  color:#000;
  text-decoration: none;
  transition: .3s linear all;
  border:1px solid #000;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 15px;
}
.link:hover, .savebutton:hover{
  background-color:rgba(0,0,0,.7);
  color:#fff;
}
.date{
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  flex:2;
}
.savebutton{
  margin-top: 5px;
}
.savebutton i{
  margin-left: 7px;
}