.page404{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 25px;
    color:#000;
    font-weight: bold;
    text-align: center;
}
.subtitle{
    font-size: 20px;
    font-weight: bold;
    color:#000;
}