.wrapper{
    display: flex;
    justify-content: center;
}
.wrapper:not(.button, .links, .socials){
    flex-direction: column;
    margin-bottom: 30px;
}
.button{
    align-items: center;
}
.error{
    margin-top: 5px;
    font-size: 13px;
    color:#fff;
}
.links{
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}
.link{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    transition:0.2s all;
}
.link:hover{
    color:rgba(0,0,0,.7);
}
.bottom{
    flex:2;
    align-items: center;
}
.socials{
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    transition:0.2s all;
}
.social i{
    margin-top: 5px;
    border:1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    background:#fff;
    color:#000;
    font-size: 25px;
}
.social:hover{
    color:rgba(0,0,0,.7);
}
